body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#fullscreen {
    height: 98.8vh;
    /* width: 100vw; */
    border: 5px solid red;
    position: relative;
    text-align: center;
    
}

.homepic {
    background-image: url(/imgs/3.jpg);
    opacity: 0.60;
    min-height: 190px;   
    background-size: contain;
    background-position: absolute;
    background-repeat: no-repeat
}


/* Center main content */
.maincontainer {
    display: table;
    margin: 0 auto;
    padding: 0 20px;
    height: 100%;
    
}
.maincontent {
    display: table-cell;
    position: relative;
    /* z-index: 50; */
    text-align: center;
    vertical-align: middle;
}

.maincontent h1 {
    font-size: 6 rem;
    color: black;
    margin-bottom: 0rem;
    align-content: center;
} 

.section-container {
	border: 5px solid black;
	position: relative;
	background-color: white;
    padding: 50px;	
    flex-direction: column;
	display: flex;
	justify-content: center;
}

.section {
	border: 2px solid white;
    width: 250px;
    height: 500px;
	padding: 10px;
    display:flex;
    flex-direction: column;
	justify-content: center;	
}

.sectionitem1 , .sectionitem2, .sectionitem3, .sectionitem4 {
    border: 2px solid lightgrey;
    background-color: lightgrey;
	font-size: 36px;
	font-weight: bolder;
	margin-right: 10px;
    margin-left: 10px;	
    justify-content: center;
}


@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    /* #profile p{font-size:1.5em;}
    #profile .title{font-size: 3em}
    #profile .name{width: 400px;}
    #profile img{width: 60%; margin: 0 23%;} */
    
          	
    }
    .fa:hover {
        opacity: 0.7;
      }

      .grid-container {
        border: 5px solid brown;
        display: flex;
        justify-content: center;	
    }
    
    .gridmiddle {
        padding: 100px;
        border: 5px solid cyan;
        width: 900px; 
        display: flex;    
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center; /* justify-content : center wil always align the contents along the vertical axis if direction is column*/
        align-items: center;
    /* 	 its the opposite if we are using direction as row */
    
    }

    .gridend {
        padding: 100px;
        border: 5px solid cyan;
        width: 900px; 
        display: flex;    
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center; /* justify-content : center wil always align the contents along the vertical axis if direction is column*/
        align-items: center;
    /* 	 its the opposite if we are using direction as row */
    
    }
    
    .gridsocial {
        margin: 20px;	
    }
    

  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    /* #fullscreen {
        height: 100vh;
        /* width: 100vw; */
        position: relative;
        text-align: center;
        background-image: url(/imgs/3.jpg);
        opacity: 0.60;
        min-height: 300px;   
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat
    } 