/* MENU code
1. Position = fixed to move up and hide gap
2. z-index */
/* Menu for site> no gap = fixed  */
#menuToggle
{
  display: block;
  position: fixed;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: salmon;
  font-family: 'Quicksand', sans-serif;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: salmon;
}


#menuToggle input
{
  display: block;
  width: 220px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 45px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background:black;
  border-radius: 2px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* Click menu and change to X mark */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: salmon;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}


#menu
{
  position: absolute;
  width: 100px;
  margin: -100px 0 0 -50px;
  padding: 80px;
  padding-top: 125px;
  
  background:whitesmoke;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 5px 0;
  font-size: 22px;
}



#menuToggle input:checked ~ ul
{
  transform: none;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#fullscreen {
    height: 100vh;
    /* width: 100vw; */
    border: 0px solid white;
    position: relative;
    text-align: center;
    
}
/* All main HTML Pages > Big pictures */
.homepic {
    background-image: url(/imgs/3.jpg);
    /* min-height: 20px;    */
    opacity: 0.4;
    background-size: cover;
    background-position: 25% 50%;
    background-repeat: no-repeat
    
}

.aboutpic {
    background-image: url(/imgs/laptop.jpg);
    /* min-height: 190px;    */
    opacity: 0.4;
    background-size: cover;
    background-position: center;
    background-position: 25% 50%;
    background-repeat: no-repeat
}

.careerpic {
    background-image: url(/imgs/career.jpg);
    /* min-height: 190px;    */
    opacity: 0.4;
    background-size: cover;
    background-position: center;
    background-position: 45% 50%;
    background-repeat: no-repeat
}

.photographypic {
    background-image: url(/imgs/4.jpg);
    /* min-height: 190px;    */
    opacity: 0.4;
    background-size: cover;
    background-position: center;
    background-position: 52% 50%;
    background-repeat: no-repeat
}

.portfoliopic {
    background-image: url(/imgs/magic.jpg);
    /* min-height: 190px;    */
    opacity: 0.4;
    background-size: cover;
    background-position: center;
    background-position: 55% 50%;
    background-repeat: no-repeat
}

.blogpic {
    background-image: url(/imgs/blog1.jpg);
    /* min-height: 190px;    */
    opacity: 0.4;
    background-size: cover;
    background-position: center;
    background-position: 51% 50%;
    background-repeat: no-repeat
}

/* All main HTML H1, H2 and H3 Headings */

.maincontent h1 {
    font-size: 55px;
    font-weight: bold;
    color: black;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px white, 0 0 40px white, 0 0 50px white, 0 0 60px white, 0 0 70px white;
    margin-bottom: 0rem;
    align-content: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 900; 
} 

.maincontent h2 {
    font-size: 6 rem;
    color: black;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px white, 0 0 40px white, 0 0 50px white, 0 0 60px white, 0 0 70px white;
    margin-bottom: 0rem;
    align-content: center;
    font-family: 'Quicksand', sans-serif;
} 

.maincontent h3 {
    font-size: 15px;
    color: black;
    margin-bottom: 0rem;
    align-content: center;
    font-family: 'Quicksand', sans-serif;
} 

/* All HTML Main picture Container Sections */
.maincontainer {
    /* display: table; */
    position: relative;
    margin: 0 auto;
    padding: 0 20px;
    height: 100%;
       
}
.maincontent {
    background-color: none;
    display: block;
    padding: 0px;
    position: absolute;
    width: 100%;
    /* z-index: 5; */
    text-align: center;
    top: 50% ;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* All HTML Footer container css */

      .grid-container {
        border: 0px solid black;
        background-color: white;
        justify-items: center;
        display: flex;
        justify-content: center;
        
        
    }
    
    .gridmiddle {
        padding: 100px;
        border: 0px solid white;
        height: 345px;
        width: 250px; 
        display: flex;    
        flex-wrap: wrap;
        flex-direction: column;
        font-family: 'Quicksand', sans-serif;
        justify-content: flex-start;
    
    
    }

    .gridend {
        /* padding: ; */
        padding: 80px;
        height: 130px;
        width: 315px; 
        background-color: white;
        display: flex;    
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly; 
        align-items: center;
    }

    /* All HTML Links for hover */
a {
    color: darkgray;
    text-decoration: none;
    text-transform: uppercase; 
    justify-content: center; 
 
}
 a:hover {
    text-decoration: underline; 
    color: salmon;
 }

 a:active {
    color: salmon;
  }
  
  a:visited {
    color: salmon;
  }


    /* All HTMLfont-awesome styling */
          	
    }
    .fa:hover {
        opacity: 0.7;
      }
    .fa-user-secret, .fa-code, .fa-trophy-alt, .fa-typewriter, .fa-phone, .fa-envelope-square, .fa-map-pin,
    .fa-facebook,.fa-twitter, .fa-linkedin ,.fa-instagram, .fa-github, .fa-camera, .fa-file-user, .fa-graduation-cap, .fa-briefcase {
        color: salmon;
    }

   .fa-chevron-double-up, .fa-chevron-double-down {
        color: black;
    }

/* 1. Home page ONLY specific CSS */
    .homecontent {
        background-color: white;
        width: 150;
       
    }
    
    header {
        margin: 0px;
        padding-top: auto;
        padding-bottom: 25px;
        text-align: center;
        min-height: 20px;
        min-width: 100px;
        background-color: white;
      
    }
    
    section {
        margin: 20px;
        padding-top: 35px;
        text-align: center;
        /* min-height: auto; */
        /* min-width: auto; */
        background-color: whitesmoke;
        font-size:28px;
        font-family: 'Quicksand', sans-serif;
        color: white;
        padding-bottom: 10px;
    }
    
    footer {
        margin: auto;
        padding-top: 15px;
        padding-bottom: 0px;
        text-align: center;
        /* min-height: 90px;
        min-width: 100px; */
        background-color: white;
        font-size: 15px;
        color: white;
    }
  

/* 1. All HTML pages specific CSS except Blog */

    #title {
        margin: auto;
        padding-top: 40px;
        text-align: center;
        min-height: 20px;
        min-width: 100px;
        background-color: white;
        font-size: 20px;
        font-family: 'Quicksand', sans-serif;
        color: black;
        padding-bottom: 10px;
    }

    #aboutheading{
        margin: auto;
        padding-top: 40px;
        text-align: center;
        min-height: 50px;
        min-width: 100px;
        background-color: white;
        font-size: 40px;
        font-family: 'Quicksand', sans-serif;
        color: salmon;
        padding-bottom: 10px;
    }

     #content {
        margin: auto;
        padding-top: 10px;
        text-align: left;
        margin-left: 39px;
        margin-right: 39px;
        min-height: 100px;
        min-width: 100px;
        background-color: whitesmoke;
        font-size: 20px;
        font-family: 'Quicksand', sans-serif;
        color: black;
        padding-bottom: 10px;
    }


    
    .aboutgridmiddle {
        padding: 65px ;
        border: 1px solid black;
        height: 345px;
        width: 250px; 
        display: flex;    
        flex-wrap: wrap;
        flex-direction: column;
        font-family: 'Quicksand', sans-serif;
        justify-content: flex-start;
    
    
    }
    
   
    
/* Portfolio section - Photo grid  */

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  
/* Blog section */

#blogtitle {
    margin: auto;
    padding-top: 40px;
    text-align: center;
    min-height: 20px;
    min-width: 100px;
    background-color: white;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    color: black;
    padding-bottom: 10px;
}

#blogheading1{
    margin: auto;
    padding-top: 40px;
    text-align: left;
    min-height: 50px;
    min-width: 100px;
    background-color: whitesmoke;
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
    color: salmon;
    padding-bottom: 10px;
}
#blogheading2{
    margin: auto;
    padding-top: 5px;
    text-align: left;
    min-height: 50px;
    min-width: 100px;
    background-color: whitesmoke;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    color: green;
    padding-bottom: 10px;
}

#blogcontent {
    margin: auto;
    padding-top: 10px;
    text-align: left;
    margin-left: 39px;
    margin-right: 39px;
    min-height: 100px;
    min-width: 100px;
    background-color: white;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    color: black;
    padding-bottom: 10px;
}



    @media only screen and (min-width: 600px) {
        /* For tablets: */
        .col-s-1 {width: 8.33%;}
        .col-s-2 {width: 16.66%;}
        .col-s-3 {width: 25%;}
        .col-s-4 {width: 33.33%;}
        .col-s-5 {width: 41.66%;}
        .col-s-6 {width: 50%;}
        .col-s-7 {width: 58.33%;}
        .col-s-8 {width: 66.66%;}
        .col-s-9 {width: 75%;}
        .col-s-10 {width: 83.33%;}
        .col-s-11 {width: 91.66%;}
        .col-s-12 {width: 100%;}
        /* #profile p{font-size:1.5em;}
        #profile .title{font-size: 3em}
        #profile .name{width: 400px;}
        #profile img{width: 60%; margin: 0 23%;} */

  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    
    .homecontent {
        background-color: white;
        width: 150;
       
    }

    header {
        margin: 0px;
        padding-top: auto;
        padding-bottom: 0px;
        text-align: center;
        min-height: 0px;
        min-width: 0px;
        background-color: white;
      
    }
    
    #two, #three {
        display: inline-grid;
        margin-left: 25px;
        margin-right: 0px;
        margin-bottom: 0px;
        padding-top: 150px;
        padding-right: 280px;
        padding-left: 280px;
        padding-bottom: 150px;
        text-align: center;
        /* min-height: auto; */
        /* min-width: auto; */
        background-color: whitesmoke;
        font-size:28px;
        font-family: 'Quicksand', sans-serif;
        color: white;
        
    }
    #four {
        display: inline-grid;
        margin-left: 25px;
        margin-right: 0px;
        padding-top: 150px;
        padding-right: 248px;
        padding-left: 248px;
        padding-bottom: 150px;
        text-align: center;
        /* min-height: auto; */
        /* min-width: auto; */
        background-color: black;
        font-size:28px;
        font-family: 'Quicksand', sans-serif;
        color: white;
        
    }

    #five {
        display: inline-grid;
        margin-left: 25px;
        margin-right: 0px;
        margin-bottom: 0px;
        padding-top: 150px;
        padding-right: 300px;
        padding-left: 300px;
        padding-bottom: 150px;
        text-align: center;
        /* min-height: auto; */
        /* min-width: auto; */
        background-color: whitesmoke;
        font-size:28px;
        font-family: 'Quicksand', sans-serif;
        color: white;
    
    footer {
        margin: auto;
        padding-top: 15px;
        padding-bottom: 0px;
        text-align: center;
        /* min-height: 90px;
        min-width: 100px; */
        background-color: white;
        font-size: 15px;
        color: white;
    }
  
  

    } 
